/**
 * Clear Fix
 */

@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";

    line-height: 0;
  }

  &:after {
    clear: both;
  }
}

/**
 * Grid Count
 */

@mixin makeGrid($width, $column, $gutter) {
  .row {
    margin-left: $gutter * -1;

    @include clearfix();
  }

  [class*="span"] {
    margin-left: $gutter;
    float: left;
  }

  @for $i from 1 through $column {
    .span#{$i} {
      margin-top: 1em;

      width: $width * $i + ($gutter * ($i - 1));
    }
  }
}

/**
 * Make Mobile Grid
 */

@mixin makeMobileGrid($column, $gutter) {
  [class*="mobile"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  [class*="span"] {
    margin-left: 0;
    padding-left: $gutter;
  }

  .mobileHide {
    display: none;
  }

  $width: 100%/$column;

  @for $i from 1 through $column {
    .mobile#{$i} {
      width: $width * $i;
    }
  }
}

/**
 * Responsive Web Design
 */

@mixin respondTo($media) {
  @if $media == "handhelds" {
    @media (max-width: 767px) { @content; }
  }
  @else if $media == "tablets" {
    @media (max-width: 979px) { @content; }
  }

}

/**
 * Arrow Maker
 */

@mixin makeArrow($size, $color, $direction) {
  display: block;

  width: 0;
  height: 0;

  border: $size solid transparent;

  @if $direction == "top" {
    border-bottom: $size solid $color;
  } @else if $direction == "bottom" {
    border-top: $size solid $color;
  } @else if $direction == "left" {
    border-right: $size solid $color;
  } @else if $direction == "right" {
    border-left: $size solid $color;
  }
}


