/**
 * Global Variables
 */

$base_font_size: 12px;
$base_line_height: $base_font_size * 1.5;

//$base_color: #a4c639;
$base_color: darken(#40a800, 10%);
//$base_color: #5eab1f;
$second_color: adjust-lightness(black, 10%);
$third_color: adjust-lightness(black, 65%);

$grid_width: 60px;
$grid_column: 12;
$grid_gutter: 20px;
$frame_width: ($grid_width + $grid_gutter) * $grid_column - $grid_gutter;

