/**
 * RWD Design
 */

@import "compass/css3";
@import "mixin";
@import "settings";

@media (max-width: 979px) {
  .container {
    width: 96%;
  }

  @include makeMobileGrid(8, 20px);
}

@media (max-width: 767px) {

  nav[role="main_menu"] {
    li {
      font-size: $base_font_size * 1.5;
      font-size: 1.5rem;
    }
  }

  @include makeMobileGrid(4, 20px);
}

@media (min-width: 480px) and (max-width: 767px) {
  nav[role="main_menu"] {
    li {
      font-size: $base_font_size;
      font-size: 1rem;
    }
  }
}

@media (max-width: 480px) {
  body {
    padding-top: 55px;
  }

  header[role="header"] {
    h1 {
      text-indent: 0;

      background: none;

      width: auto;
      height: auto;
    }

    height: auto;

    padding: 10px 0px;
  }

  nav[role="main_menu"] {

    position: absolute;

    width: 96%;

    top: 50%;

    margin-top: -10px;

    header {
      display: block;

      text-align: right;

      h2 {
        font-size: $base_font_size;
        text-transform: uppercase;

        a {
          color: white;
          background: $base_color;

          padding: 10px;
        }
      }

      @include clearfix();
    }

    ul {
      background: $base_color;

      display: none;
    }

    li {
      display: block;

      a {
        color: white;

        display: block;
        padding: 10px;

        &:hover {
          color: $second_color;

          background: white;
        }

        &.active {
          background: white;
          color: $second_color;

          @include border-radius(0);

          &:after {
            border: none;
          }
        }
      }
    }
  }
}
