@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Droid+Sans");
/**
 * Modules
 */
/**
 * Clear Fix
 */
/**
 * Grid Count
 */
/**
 * Make Mobile Grid
 */
/**
 * Responsive Web Design
 */
/**
 * Arrow Maker
 */
/**
 * Fonts
 */
/**
 * Settings
 */
/**
 * Global Variables
 */
/**
 * Global
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000325}}
html {
  font-size: 12px;
  -webkit-font-size-adjust: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000330}}
body {
  font-size: 12px;
  font-family: "Droid Sans", "Droid Sans Fallback", "微軟正黑體", "Microsoft JhengHei", "STHeiti", "Heiti TC", SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  padding-top: 250px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-font-smoothing: antialiased;
  -webkit-font-size-adjust: none;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000330}}
  body {
    padding-top: 55px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000345}}
body.close {
  padding-top: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000350}}
a {
  color: #1a1a1a;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000354}}
a.link-light {
  color: #40a800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000359}}
hr {
  border: none;
  border-bottom: 1px solid #e6e6e6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000364}}
hr.light {
  border-bottom: 1px solid #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000369}}
p {
  line-height: 1.5em;
}

/**
 * UI Element
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000377}}
.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: .5em .7em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000384}}
.button.light {
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000388}}
.button.normal {
  color: white;
  background: #40a800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000393}}
.button.dark {
  color: white;
  background: #1a1a1a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\0000398}}
.button.large {
  font-size: 24px;
  font-size: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003103}}
.button.middle {
  font-size: 18px;
  font-size: 1.5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003108}}
.button.small {
  font-size: 12px;
  font-size: 1rem;
}

/**
 * Grid
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003118}}
.container {
  width: 940px;
  margin: 0 auto;
}
@media only screen and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003118}}
  .container {
    width: 96%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000326}}
.row {
  margin-left: -20px;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\000039}}
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000316}}
.row:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000332}}
[class*="span"] {
  margin-left: 20px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000338}}
.span1 {
  margin-top: 1em;
  width: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000338}}
.span2 {
  margin-top: 1em;
  width: 140px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000338}}
.span3 {
  margin-top: 1em;
  width: 220px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000338}}
.span4 {
  margin-top: 1em;
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000338}}
.span5 {
  margin-top: 1em;
  width: 380px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000338}}
.span6 {
  margin-top: 1em;
  width: 460px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000338}}
.span7 {
  margin-top: 1em;
  width: 540px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000338}}
.span8 {
  margin-top: 1em;
  width: 620px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000338}}
.span9 {
  margin-top: 1em;
  width: 700px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000338}}
.span10 {
  margin-top: 1em;
  width: 780px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000338}}
.span11 {
  margin-top: 1em;
  width: 860px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000338}}
.span12 {
  margin-top: 1em;
  width: 940px;
}

@media only screen and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000351}}
  [class*="mobile"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000357}}
  [class*="span"] {
    margin-left: 0;
    padding-left: 20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000362}}
  .mobileHide {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile1 {
    width: 12.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile2 {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile3 {
    width: 37.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile4 {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile5 {
    width: 62.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile6 {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile7 {
    width: 87.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile8 {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000351}}
  [class*="mobile"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000357}}
  [class*="span"] {
    margin-left: 0;
    padding-left: 20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000362}}
  .mobileHide {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile1 {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile2 {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile3 {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile4 {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000351}}
  [class*="mobile"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000357}}
  [class*="span"] {
    margin-left: 0;
    padding-left: 20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000362}}
  .mobileHide {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile1 {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile2 {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile3 {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000369}}
  .mobile4 {
    width: 100%;
  }
}
/**
 * Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003141}}
header[role="header"] {
  height: 250px;
  width: 100%;
  z-index: 999;
  background: white;
  position: fixed;
  top: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003143}}
header[role="header"] h1 {
  text-indent: -999999px;
  background: url('../images/banner_logo.png?1355909500') center;
  width: 700px;
  height: 150px;
  margin: 0 auto;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003143}}
  header[role="header"] h1 {
    text-indent: 0;
    background: none;
    width: auto;
    height: auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003165}}
header[role="header"].close {
  height: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003168}}
header[role="header"].close h1 {
  height: 0;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003141}}
  header[role="header"] {
    height: auto;
    padding: 10px 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\000039}}
header[role="header"]:before, header[role="header"]:after {
  display: table;
  content: "";
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000316}}
header[role="header"]:after {
  clear: both;
}

/**
 * Footer
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003198}}
footer[role="footer"] {
  letter-spacing: .15em;
  font-size: 13.2px;
  font-size: 1.1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003208}}
footer[role="footer"] .social a {
  color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003213}}
footer[role="footer"] .split {
  margin: 0 .5em;
  color: #595959;
}

/**
 * Navigator
 */
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003224}}
  nav[role="main_menu"] {
    position: absolute;
    width: 96%;
    top: 50%;
    margin-top: -12px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003236}}
nav[role="main_menu"] header {
  display: none;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003236}}
  nav[role="main_menu"] header {
    display: block;
    text-align: right;
    *zoom: 1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003244}}
  nav[role="main_menu"] header h2 {
    font-size: 12px;
    text-transform: uppercase;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003248}}
  nav[role="main_menu"] header h2 a {
    color: white;
    background: #40a800;
    padding: 10px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\000039}}
  nav[role="main_menu"] header:before, nav[role="main_menu"] header:after {
    display: table;
    content: "";
    line-height: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/_mixin\.scss}line{font-family:\0000316}}
  nav[role="main_menu"] header:after {
    clear: both;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003260}}
nav[role="main_menu"] ul {
  text-align: center;
  padding: 0;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003260}}
  nav[role="main_menu"] ul {
    background: #40a800;
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003273}}
nav[role="main_menu"] li {
  display: inline;
  font-size: 24px;
  font-size: 2rem;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003273}}
  nav[role="main_menu"] li {
    font-size: 18px;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003273}}
  nav[role="main_menu"] li {
    display: block;
    font-size: 12px;
    font-size: 1rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003291}}
nav[role="main_menu"] li a {
  display: inline-block;
  color: #a6a6a6;
  padding: .5em;
  text-transform: uppercase;
  position: relative;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003291}}
  nav[role="main_menu"] li a {
    color: white;
    display: block;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003309}}
nav[role="main_menu"] li a:hover {
  color: #1a1a1a;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003309}}
  nav[role="main_menu"] li a:hover {
    color: #1a1a1a;
    background: white;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003320}}
nav[role="main_menu"] li a.active {
  color: white;
  background: #40a800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003320}}
  nav[role="main_menu"] li a.active {
    background: white;
    color: #1a1a1a;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003334}}
nav[role="main_menu"] li a.active:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 7px solid #40a800;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7px;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003334}}
  nav[role="main_menu"] li a.active:after {
    border: none;
  }
}

/**
 * Main Frame
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003368}}
#main_frame header h2 {
  font-size: 48px;
  font-size: 4rem;
  font-weight: normal;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003368}}
  #main_frame header h2 {
    font-size: 24px;
    font-size: 2rem;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003382}}
.section_green {
  background: #40a800;
  color: white;
  padding-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003390}}
.section_black {
  background: #1a1a1a;
  color: white;
  padding-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003398}}
.attach_arrow_green {
  padding-top: 50px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003403}}
.attach_arrow_green:after {
  display: block;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top: 35px solid #40a800;
  content: " ";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -35px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003416}}
.attach_arrow_black {
  padding-top: 50px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003421}}
.attach_arrow_black:after {
  display: block;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top: 35px solid #1a1a1a;
  content: " ";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -35px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003434}}
.attach_arrow_white {
  padding-top: 50px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003439}}
.attach_arrow_white:after {
  display: block;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top: 35px solid white;
  content: " ";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -35px;
}

/**
 * Each Part
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003458}}
#about, #talks, #subject, #ways_to_submit {
  font-size: 24px;
  font-size: 2rem;
  line-height: 1.5em;
  letter-spacing: .15em;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003458}}
  #about, #talks, #subject, #ways_to_submit {
    font-size: 14.4px;
    font-size: 1.2rem;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003474}}
#info {
  font-size: 18px;
  font-size: 1.5rem;
  letter-spacing: .15em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003475}}
#info > header {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003479}}
#info h3 {
  text-transform: uppercase;
  font-size: 48px;
  font-size: 4rem;
  font-weight: normal;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003479}}
  #info h3 {
    font-size: 24px;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003474}}
  #info {
    font-size: 14.4px;
    font-size: 1.2rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003502}}
#info .hint {
  font-size: 12px;
  font-size: 1rem;
  margin-left: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003509}}
#info .register {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003512}}
#info .register:after {
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 5px solid white;
  content: " ";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003525}}
#time {
  font-size: 36px;
  font-size: 3rem;
  text-transform: uppercase;
  border-right: 1px solid #333333;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003525}}
  #time {
    border: none;
    border-bottom: 1px solid #333333;
  }
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003525}}
  #time {
    border: none;
    border-bottom: 1px solid #333333;
    font-size: 14.4px;
    font-size: 1.2rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003544}}
#time .register {
  font-size: 18px;
  font-size: 1.5rem;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003544}}
  #time .register {
    font-size: 12px;
    font-size: 1rem;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003557}}
#host .co-host a {
  color: #40a800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003563}}
#co-host {
  display: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003567}}
#co-host .hint {
  color: #40a800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003575}}
#team h3 {
  font-size: 24px;
  font-size: 2rem;
  font-weight: normal;
  color: #595959;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003575}}
  #team h3 {
    font-size: 14.4px;
    font-size: 1.2rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003588}}
#team h3 .leader {
  font-size: 14.00004px;
  font-size: 1.16667rem;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003588}}
  #team h3 .leader {
    font-size: 12px;
    font-size: 1rem;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003602}}
#speakers, #schedule, #sponsor .hint {
  text-align: center;
  font-size: 36px;
  font-size: 3rem;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003602}}
  #speakers, #schedule, #sponsor .hint {
    font-size: 14.4px;
    font-size: 1.2rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003613}}
#speakers p, #schedule p, #sponsor .hint p {
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003617}}
#speakers .span12, #schedule .span12, #sponsor .hint .span12, #speakers .span6, #schedule .span6, #sponsor .hint .span6 {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003627}}
#sponsor {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003630}}
#sponsor .list > a {
  margin-right: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/elct9620\/Dropbox\/Web\%20Design\/SITCON\/v8\/sass\/main\.scss}line{font-family:\00003641}}
#location header {
  display: none;
}
